#miTimer, #miCrono {
     padding: 10px;
     margin-top: 40px;
     margin-left: 40px;
     background-color: white;
     width: 300px;
     height: 120px;
	 float: left;
}
#container {
     padding: 20px;
     margin-top: 40px;
     margin-left: 40px;
     background-color: white;
     width: 300px;
     height: 400px;
	 float: left;
}
body {
//font: normal normal 13px/16px "Open Sans", sans-serif;
	 background: #ccc;
}
li {
	font-weight: bold;
	font-family: Arial 14px;
	color: grey;
	padding: 1px;
	border-bottom: 1px solid DeepSkyBlue;
	list-style: none;
	margin-right: 40px;
}
h1 { text-align: center; }
form { margin-left: 67px;}