#divPend {
     //padding: 5px;
     margin-top: 15px;
     //margin-left: 10px;
	 background-color: LightGoldenRodYellow;     
     //width: 300px;
     //height: 400px;
	 float: left;
}
body  {background-color: LightGoldenRodYellow ;} 
li {
	//font-size: 55px;
	font-family: sans-erif;
	//font-weight: bold;
	color: brown;
	//padding: 5px;
	border-bottom: thin solid silver;
	//list-style: none;
	//margin-right: 5px;
	margin-top: 7px;
}
//input {	font-size: 35px;}
//form { margin-left: 10px;}
