#divPend {  background-color: LightGoldenRodYellow;     
		     }
body { background-color: LightGoldenRodYellow;} 
li {	font-family: sans-erif;
	color: brown;
	border-bottom: thin solid silver;
	margin-top: 7px;  
}
input {margin-left: 40px;}


